{% extends "index.html" %}

{% block content %}
    <div class="post">
		<h1 class="post-title">{{ section.title }}</h1>

        <ul>
            {% for term in section.pages %}
            <li class="tag-list">
                <a href="{{ term.permalink | safe }}">
                    {{ term.title }} 
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
